$grid__unit: 5px;

$spacer__s: $grid__unit;
$spacer__m: 2 * $grid__unit;
$spacer__l: 4 * $grid__unit;

$slider--height: 350px;
$slider__image--width: 150px;

$border-radius__s: $grid__unit;

$color__alert: #F90012;
$color__light-gray: #ddd;
$color__dark-gray: #333;